.center-align{
    text-align: center;
}

.header-style{
    position: fixed;
    top: 0;
    left: 0;
    height: 25px;
    line-height: 25px;
    z-index: 1000;
    background-color: #2d2d2d;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
.link{
    color: aliceblue;
}

.link-list{
    list-style: none;
}

.field {
display: flex;
}
.text{
    text-align: left;
}

.text-worp{
    white-space: nowrap;
}
.footer__inner{
    display:flex;
}

.wrapper{
    width: 100%;
    min-height: 100vh;
    position: relative;/*←相対位置*/
    padding-bottom: 120px;/*←footerの高さ*/
    box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
}

.footer-style{
    width: 100%;
    background-color: #2d2d2d;
    color: #fff;
    padding: 10px 0;
    position: absolute;/*←絶対位置*/
    bottom: 0; /*下に固定*/
}

html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}
body{
    padding-top: 25px;
}
